/* container.css */

.post, .page {
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px dotted #D5D5D5;
}
.post h1, .page h1 {
	font-size: 1.6em;
}
.entry-meta {
	clear: both;
    color: #878789;
    padding-left: 4px;
}
.entry-content {
	margin-top: 26px;
	font-size: 1.16em;
	line-height: 1.4em;
}
.entry-content h1 {
	border-left: 40px #005879 solid;
}

.entry-content h2 {
	border-left: 30px #0078A6 solid;
	padding: 0 0 0 10px;
}

.entry-content h3 {
	border-left: 20px #00B3F7 solid;
	padding: 0 0 0 20px;
}

.entry-content h4, .entry-content h5, .entry-content h6 {
	border-left: 10px #71D8FF solid;
	padding: 0 0 0 30px;
}
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, 
.entry-content p, .entry-content ul, .entry-content ol,  .entry-content pre,
.entry-content blockquote {
    margin: 1em 0;
}
.entry-content pre, .entry-content blockquote {
    border-left: 4px solid #6CE26C;
    margin-left: 10px;
    padding-left: 10px;
}
.entry-content ul li{
	list-style: disc inside;
}
.entry-content ol li{
	list-style: decimal inside;
}
.entry-content table {
	background: #FFF;
	border: 2px solid #CCC;
	border-collapse: collapse;
	margin: 5px 0 10px;
}

.entry-content th, .entry-content td {
	border: 1px solid #CCC;
	padding: 3px 10px;
	text-align: left;
	vertical-align: top;
}

.entry-content tr.even td {
	background: #F7F7F7;
}

.entry-content th {
	background: #EDEFF0;
}

/* 404 page */
.error404 .widget {
	float: left;
	width: 33%;
}
.error404 .widget .widgettitle,
.error404 .widget ul {
	margin-right: 1em;
}
.error404 .widget_tag_cloud {
	clear: both;
	float: none;
	width: 100%;
}

/* Notices */
.post .notice,
.error404 #searchform {
	background: #eee;
	display: block;
	padding: 1em;
}

/* =Comments
-------------------------------------------------------------- */
#comments-title {
	font-size: 1.4em;
}
#comments .commentlist li {
	margin: 15px 0 20px;
	padding: 5px 5px 0 10px;
}
#comments .commentlist li .comment-author .avatar {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #EEEEEE;
	float: left;
	margin-right: 10px;
	padding: 2px;
}
#comments .commentlist li .comment-author .fn .url {
	font-weight: bold;
}
#comments .commentlist li .comment-meta {
	margin: 5px 0 15px 5px;
}
#comments .commentlist li .comment-content {
	background: none repeat scroll 0 0 #EFEFEF;
	border-radius: 5px 5px 5px 5px;
	padding: 10px;
	margin: 10px 5px 10px 0;
	clear: both;
}

#respond #reply-title {
	font-size: 1.4em;
}
#commentform p {
	clear: both;
}
#commentform label {
	color: #888888;
    float: left;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 5px;
    width: 120px;
}
#commentform .required {
	color: #cc0033;
}
