/*sidebar.css*/

/* =Widgets
-------------------------------------------------------------- */

.widget-area .widget_search {
	overflow: hidden;
}
.widget-area .widget_search input {
	float: left;
}
.widget-area h1 {
	font-size: 1.2em;
}
.widget-area {
    margin-bottom: 10px;
    padding: 5px 5px 10px;
}
.widget-area li{
	border-bottom: 1px solid #E8E8E8;
	margin-bottom: 3px;
	padding-bottom: 2px;
}
